body {
  --primary-color: #B8BF0D;
  --background-color: #FFFFFF;
  --background-color-values: 255, 255, 255;

  --text-size: 16px;
  --text-color: rgba(0, 0, 0, .87);
  --text-color-secondary: rgba(102, 102, 102, .87);

  --spacing: 1rem;
  --spacing-tiny: .25rem;
  --spacing-small: .5rem;
  --spacing-large: 2rem;

  --header-height: 64px; /* immutable */
  --header-opacity: .95;
  --header-blur: 20px;
  --header-blur-opacity: .70;
  --logo-height: 50px;
  --logo-url: url("../../images/logo.png");

  --post-border: none;
  --post-border-color: #EEEEEE;
  --post-preview-lines: 4;
  --post-max-header-height: 200px;
  
  --header-shadow: inset 0px 5px 2px -3px rgba(0, 0, 0, 0.2);

  --shadow-elevation-2dp_-_box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --shadow-elevation-3dp_-_box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
  --shadow-elevation-4dp_-_box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --shadow-elevation-6dp_-_box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  --shadow-elevation-8dp_-_box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  --shadow-elevation-12dp_-_box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
  --shadow-elevation-16dp_-_box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0  6px 30px 5px rgba(0, 0, 0, 0.12), 0  8px 10px -5px rgba(0, 0, 0, 0.4);
  --shadow-elevation-24dp_-_box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);  

  --drawer-color: var(--background-color);

  --primary-text-color: var(--text-color);

  --paper-checkbox-checkmark-color: var(--background-color);
  --paper-checkbox-label-spacing: var(--spacing);
  --paper-checkbox-unchecked-color: var(--text-color);

  --app-drawer-content-container_-_background-color: var(--background-color);

  font-size: var(--text-size);
}

app-header {
  --app-header-shadow: {
    box-shadow: inset 0px 5px 2px -3px rgba(255, 0, 0, 0.2);
  };
}

body.dark {
  --primary-color: #B8BF0D;
  --background-color: #1E1E1E;
  --background-color-values: 30, 30, 30;
  --text-color: rgba(255, 255, 255, .87);
  --text-color-secondary: rgba(255, 255, 255, .87);
  --logo-url: url("../../images/logo-dark.png");
  --post-border-color: #111111;
  --post-border: 1px solid var(--post-border-color);
}

body.girly {
  --primary-color: purple;
  --background-color: deeppink;
  --background-color-values: 255, 20, 147;
  --text-color: gold;
  --logo-url: url("../../images/logo-dark.png");
}

body.mint {
  --primary-color: #53131E;
  --background-color: #B5D6B2;
  --background-color-values: 181, 214, 178;
  --text-color: rgba(90, 70, 76, .87);
  --text-color: #5A464C;
}

body.lsd {
  --primary-color: rgb(205, 255, 25);
  --background-color: rgb(36, 240, 17);
  --background-color-values: 181, 214, 178;
  --text-color: rgba(101, 219, 255, 0.87);
  --text-color: rgb(255, 72, 0);
}

body.corn {
  --primary-color: rgb(255, 153, 0);
  --background-color: #1E1E1E;
  --background-color-values: 30, 30, 30;
  --text-color: rgba(255, 255, 255, .87);
  --text-color-secondary: rgba(255, 255, 255, .87);
  --post-border-color: #111111;
  --post-border: 1px solid var(--post-border-color);
  --logo-url: url("https://ci.phncdn.com/www-static/images/pornhub_logo_straight.png?cache=2018052800");
}

body.trump {
  --primary-color: #2b325f;
  --background-color: #9a0207;
  --background-color-values: 154, 2, 7;
  --logo-url: url("http://whiteoval.com/wp-content/uploads/2015/08/Trump-make-america-great-again-2016.png");
}

body.birbs {
  --logo-url: url("https://media.giphy.com/media/N8XWcaExxbiFO/giphy.gif");
}